<h2>Report a missed pickup</h2>

<div class="form-wrapper">
    <div>
        <p>Was the bin placed near the curb before 7am today?</p>
        <button (click)="yes()">Yes</button>
        <button (click)="no()">No</button>
    </div>

    <div *ngIf="hide">
        <p>It's {{newDate | date: 'medium'}}, is it after 3:30pm today? </p>
        <button (click)="yesDate()">Yes</button>
        <button (click)="no()">No</button>
    </div>

    <div *ngIf="hideNo">
        <p>Sorry, you missed your bin pickup!</p>
    </div>

    <div *ngIf="hideYes">
        <p>Name:</p>
        <input/>
        <p>Date:</p>
        <input type='date'/>
        <p>Address:</p>
        <input/>
        <p>Phone:</p>
        <input type='tel'/>
        <p>E-Mail:</p>
        <input type='email'/>
        <button class="submit" (click)="submit()">Submit</button>
    </div>

    <div *ngIf="hidden">
        <p>Your reported missing pickup has been submitted to whateverGR@email.com</p> 
    </div>
    
</div>