.icon {
    width: 100px;
    height: 100px;
}

h2 {
    font-size: 12px;
    font-weight: bold;
}

p, a {
    font-size: 10px;
}



.notification-container {
    display: flex;
    flex-direction: row;
    margin: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #D3D3D3;
    padding: 5px;
   
}

@media only screen and (max-width: 600px) {
.notification-container {
    flex-direction: column;
}
a {
    justify-content: flex-end;
}

.top {
    flex: 1;
    align-self: center;
}

}