img {
    width: 100vw;
    
}

.item-1, .item-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}