body {
    height: 60vh;
    text-align: center;
}

.main, .bottom {
    background-color: #ffffff;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

.main {
    flex-direction: column;
}

.bottom {
    flex-direction: row;
    align-items: center;
    max-width: 30rem;
    margin: 1rem auto 0 auto;
}

.yesNo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.city {
    color: green;
}

span {
    font-weight: 900;
}

h3 {
    text-align: center;
    font-weight: 300;
} 

p {
    padding-left: 5px;
}

button {
    height: 40px;
    border-radius: 5px;
    width: 90px;
}

img {
    width: 100px;
}

@media only screen and (min-width: 600px){
    body {
    height: 50vh;
    /* display: flex; */
}
}