<body>
    <div class="main">
        <!-- <mat-dialog-title><span class="city">GR</span>een</mat-dialog-title> -->
        <h3 class="title">Refuse. Recycling. Resources.</h3>
        <p>Would you like to use location services to customize your 
            <span class="gr">GReen</span> experience today?</p>
        <div class="yesNo">
            <button class="yes" (click)='exitDialog(); geoLocateUser()'>Yes!</button>
            <button class="no" (click)='exitDialog()'>No thanks</button>
        </div>
    </div>
    <div class="bottom">
        <img class="GRlogo" src="https://www.governmentjobs.com/AgencyPages/grandrapids/agencyImages/download/HiResCityLogo.PNG?upscale=True" alt="City of Grand Rapids Logo">
        <h3>Powered by<span class="city"> City of Grand Rapids</span></h3>
    </div>
</body>