<body>
  <div class="title">
    <h1>Resources</h1>
  </div>  
  <div class="resources-container">
    <div class="full">
      <div class="head">        
        <h2>Holiday Schedule</h2>
      </div>
      <div class="body">
        <p>City services will be delayed until the following business day on all of the following holidays: </p>
        <ul>
          <li>New Year's Day</li>
          <li>Memorial Day</li>
          <li>July 4th</li>
          <li>Labor Day</li>
          <li>Thanksgiving</li>
          <li>Christmas Day</li>
        </ul>
      </div>
    </div>

    <div class="full">
      <div class="head">
        <h2>Kent County Department of Public Works</h2>
      </div>
      <div class="body">
        <p>Re-Imagine Trash has the goal of reducing landfill waste 90% by 2030. By reimagining the way we handle waste, 
          we can generate change. The site has plenty of resources to learn about recycling in Kent County.</p>
        <a href="http://www.reimaginetrash.org/" target="_blank">Re-imagine Trash</a>
      </div>
    </div>

    <div class="full">
      <div class="head">
        <h2>Service Guidelines</h2>
      </div>
      <div class="body">
        <p>The City of Grand Rapids Website has many great resources to help you. Many answers to commonly asked questions as well as numerous helpful online tools can be found using the link below.</p>
        <a target="_blank" href="https://www.grandrapidsmi.gov/Directory/Guides/Service-Guidelines?transfer=b0d59034-314b-4e37-a2d9-10ca8c2cdbcd">PAYT & Recycling</a>
      </div>
    </div>

    <div class="full last-div">
      <div class="head">
        <h2>Report Trash in the Street or an Alley</h2>
      </div>
      <div class="body">
        <p>See illegally street dumping or noticed an abandon car on your street? grcity 311 is the new official app for reporting issues across the City. It's available in app stores now. Below is a link to the City of Grand Rapids Website where you can either report online or get the app!</p>
        <a target="_blank" href="https://www.grandrapidsmi.gov/Residents/Report-an-Issue">Report It</a>
      </div>
    </div>
  </div>
</body>
