<html>
    <header>
        <div>
            <h1>
            <span>GR</span>een
            </h1>
            <img class="GRlogo" src="https://www.governmentjobs.com/AgencyPages/grandrapids/agencyImages/download/HiResCityLogo.PNG?upscale=True" alt="City of Grand Rapids Logo">
        </div>
    </header>
    <router-outlet></router-outlet>
    <footer id="footer">
        <a class="nav_text"routerLink=''>
            <img class="nav" src="/assets/home.png">Home</a>
        <a class="nav_text" routerLink="/recycleitems">
            <img class="nav" src="/assets/recycle_items.png">Recyclable Items</a>
        <a class="nav_text" href="https://www.grandrapidsmi.gov/Services/Request-Trash-Recycling-or-Yard-Waste-Services/Application-to-Request-Waste-Services">
            <img class="nav" src="/assets/order.png">Order Service</a>
        <a class="nav_text" routerLink="/locations">
            <img class="nav" src="/assets/locations.png">Locations</a>
        <a class="nav_text" routerLink="/resources">
            <img  class="nav" src="/assets/resources.png">Resources</a>
    </footer>
</html>

