<body>
    <header>
        <h1>
            <span>GR</span>een
        </h1>
        <img class="GRlogo" src="https://www.governmentjobs.com/AgencyPages/grandrapids/agencyImages/download/HiResCityLogo.PNG?upscale=True" alt="City of Grand Rapids Logo">
    </header>
    <router-outlet></router-outlet>
    <footer id="footer">
        <a routerLink=''>
            <img class="nav" src="/assets/home.png">Home</a>
        <a routerLink="/recycleitems">
            <img class="nav" src="/assets/recycle_items.png">Recyclable Items</a>
        <a href="https://www.grandrapidsmi.gov/Services/Request-Trash-Recycling-or-Yard-Waste-Services/Application-to-Request-Waste-Services" target="_blank">
            <img class="nav" src="/assets/order.png">Order Service</a>
        <a routerLink="/locations">
            <img class="nav" src="/assets/locations.png">Locations</a>
        <a routerLink="/resources">
            <img  class="nav" src="/assets/resources.png">Resources</a>
    </footer>
</body>

