html {
    flex-direction: column;
    justify-content: space-around;
}

.nav_text{
    width: 68px;
    text-align: center;
    color: #000000;
}

#footer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    padding: 0;
    margin: 0;
    background: white; 
    z-index: 2;
    box-shadow: 8px 0 6px -6px black;

}

footer {
    display: flex;
    font-size: 10px;
    text-align: center;
    margin: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.nav {
    display: flex;
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: baseline;
}

div {
    display: flex;
    background-color: #20B874;
    padding: 5px 15px 5px 15px;
    justify-content: space-between;
}

span, h1 {
    color: #ffffff;
}

span {
    font-weight: 900;
}

h1 {
    color: #ffffff;
    font-weight: 100;
}

.GRlogo {
    padding-top: 15px;
    height: 70px;
    width: 70px;
}
  


@media only screen and (max-width: 600px) {
   

}
