<div class="category-container">
 <button (click)="catSelected('plastics'); toggle()">
     <img width= 100px; src="/assets/plastics_icon.png" onmouseover="this.src='/assets/plastics_icon_hover.png'" onmouseout="this.src='/assets/plastics_icon.png'">
</button>

<button (click)="catSelected('automotive'); toggle()" class="automotive">
    <img width= 100px; src="/assets/auto_icon.png" onmouseover="this.src='/assets/auto_icon_hover.png'" onmouseout="this.src='/assets/auto_icon.png'">
</button>

<button (click)="catSelected('holiday'); toggle()" class="holiday">
    <img width= 100px; src="/assets/holiday_icon.png" onmouseover="this.src='/assets/holiday_icon_hover.png'" onmouseout="this.src='/assets/holiday_icon.png'">
</button>

<button (click)="catSelected('textiles'); toggle()" class="textiles">
    <img width= 100px; src="/assets/textiles_icon.png" onmouseover="this.src='/assets/textiles_icon_hover.png'" onmouseout="this.src='/assets/textiles_icon.png'">
</button>
    
<button (click)="catSelected('batteries'); toggle()" class="batteries">
    <img width= 100px; src="/assets/batteries_icon.png" onmouseover="this.src='/assets/batteries_icon_hover.png'" onmouseout="this.src='/assets/batteries_icon.png'">
</button>
    
<button (click)="catSelected('electronics_appliances'); toggle()" class="electronics">
    <img width= 100px; src="/assets/appliances_icon.png" onmouseover="this.src='/assets/appliances_icon_hover.png'" onmouseout="this.src='/assets/appliances_icon.png'">
</button>

<button (click)="catSelected('medications'); toggle()" class="medications">
    <img width= 100px; src="/assets/meds_icon.png" onmouseover="this.src='/assets/meds_icon_hover.png'" onmouseout="this.src='/assets/meds_icon.png'">
</button>
    
<button (click)="catSelected('paint'); toggle()" class="paint">
    <img width= 100px; src="/assets/paint_icon.png" onmouseover="this.src='/assets/paint_icon_hover.png'" onmouseout="this.src='/assets/paint_icon.png'">
</button>

<!-- <button (click)="catSelected('glass'); toggle()" id="bottles" class="glass">
    <img width= 100px; src="/assets/glass_icon.png" onselect="this.src='/assets/glass_icon_hover.png'" onmouseover="this.src='/assets/glass_icon_hover.png'" onmouseout="this.src='/assets/glass_icon.png'">
</button> -->

<button (click)="catSelected('glass'); toggle()" id="bottles" class="category">
</button>

</div>

<div *ngIf="show"><app-recycle-item [values]="values" [category]="category"></app-recycle-item></div>


   
   
