<div class="category-container">
 <button (click)="catSelected('plastics'); toggle()" id="plastics" class="category"></button>

<button (click)="catSelected('automotive'); toggle()" id="auto" class="category"></button>

<button (click)="catSelected('holiday'); toggle()" class="category" id="holiday"></button>

<button (click)="catSelected('textiles'); toggle()" class="category" id="textiles"></button>
    
<button (click)="catSelected('batteries'); toggle()" class="category" id="batteries"></button>
    
<button (click)="catSelected('electronics_appliances'); toggle()" class="category" id="electronics"></button>

<button (click)="catSelected('medications'); toggle()" class="category" id="meds"></button>
    
<button (click)="catSelected('paint'); toggle()" class="category" id="paint"></button>

<button (click)="catSelected('glass'); toggle()" id="bottles" class="category"></button>

</div>

<div *ngIf="show"><app-recycle-item [values]="values" [category]="category"></app-recycle-item></div>


   
   
