<h2>Report a missed pickup</h2>

<div class="form-wrapper">
    <div *ngIf="step === 'start'">
        <h3>Was the bin placed near the curb before 7am today?</h3>
        <div class = "placeBin">
            <button (click)="yes()">Yes</button>
            <button (click)="no()">No</button>
        </div>
    </div>

    <div *ngIf="step === 'start-no'">
        <p>Sorry, you missed your bin pickup!</p>
    </div>

    <div *ngIf="step === 'start-yes'">
        <h3>It's {{newDate | date: 'shortTime'}}, is it after 3:00pm today? </h3>
        <div class= "placeBin">
            <button (click)="yesDate()">Yes</button>
            <button (click)="noDate()">No</button>
        </div>
    </div>

    <div *ngIf="step === 'end-no'">
        <h3>There's still time for your bin to get picked up! Wait until after 3:00pm to report your missed pickup.</h3>
    </div>
 
    <div *ngIf="step === 'end-yes'">
        <p class="form">Name:</p>
        <input required/>
        <p class="form">Date:</p>
        <input type='date' />
        <p class="form">Address:</p>
        <input/>
        <p class="form">Phone:</p>
        <input type='tel'/>
        <p class="form">E-Mail:</p>
        <input type='email'/>
        <button class="submit" (click)="submit()">Submit</button>    
    </div> 


    <div *ngIf="step === 'end'">
        <h3>Your reported missing pickup has been submitted to whateverGR@email.com</h3> 
    </div>
</div>