  

#mapID {
    height: 500px;
    width: 100%;
}

.map-container{
    margin: 0 .5rem;
}

.route {
    margin-right: 1.5em;
}

.route-info {
    display: flex;
    text-align: center;
}

.route-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/**** Recycle Centers ****/


.recycle-center-container {
    margin: 2rem;
    background-color: #EDF1F5;
    border-radius: .5rem;
}

.recycle-center-container:hover {
    box-shadow: 0px 0px 10px #AAA;
}

h3 {
    background-color: #DBDBDC;
    position: relative;
    text-align: center;
    padding: 1rem 2rem;
    margin: 0;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.center-number {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.recycle-center-info {
    text-align: center;
    padding: 1rem;
} 

.xtra-info  {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
}

.xtra-info-category {
    font-size: 1rem;
    margin-bottom: .5rem;
    text-decoration: underline;
}

.address-info {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
}

.center-address {
    margin-top: 0;
}

.recycle-center-info button {
    margin: auto;
    padding: .5rem;
}



/**** Category Icons ****/

h2 {
    text-align: center;
}

.categories-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
.category {
    width: 100px;
    height: 100px;
    background-color: transparent;
    background-size: contain;
}

.category-label {
    margin-top: .5rem;
}


@media screen and (min-width: 480px) {
    .xtra-info {
        flex-direction: row;
    }
}

@media screen and (min-width: 600px) {
    body{
        width: 90vw;
        }  

    }