
<div class="content_container">
<div class="route-info-container">
  <div *ngIf="isLocationSubmitted" class="route-info">
    <h2 class="route"><strong>Route:</strong> {{ userRouteInfo.route }}</h2>
    <h2><strong>Next Pick-Up:</strong> {{ userNextPickup | date: "EEEE, MMMM d"}}</h2>    
  </div>
  <div *ngIf="!isLocationSubmitted" class="route-info">
    <h2>Enter a Location to See Route Info</h2>
  </div>
  <app-find-route></app-find-route>
  <div>
    <mat-checkbox 
      name="wantsRefuse" 
      id="wantsRefuse" 
      [(ngModel)]="wantsRefuse" 
      (change)='toggleRoutes()'
      >
      See Refuse Routes
    </mat-checkbox>
  </div>
</div>

<google-map
  id = "mapID"
  #map
  height="400px"
  width=auto
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  >
  <ng-container *ngIf="markers[0]">
    <map-marker 
      *ngFor="let marker of markers"
      [position]='marker.position'
      [label]='marker.label'
      [title]='marker.title'>
    </map-marker>
  </ng-container>
  <map-polygon 
    #poly 
    *ngFor="let route of routes" 
    [paths]="route.coords" 
    (polygonClick)="onPolygonClick(poly, $event, route.info)">
  </map-polygon>
  
  <map-info-window [position]='labelLocation'>
    <p>Route: {{ userRouteInfo.route }}</p>
    <p>Pick-Up Day: {{ userRouteInfo.day }}</p>
  </map-info-window>  
  
</google-map>
<div class="categories-container">
  <ng-container *ngFor="let category of centerData">
    <div class="category-container">
      <button  
      (click)='getMarkers(category)'
      [id]='getCategoryName(category)'
      [style.background-image]="getPath(getCategoryName(category))" 
      class='category'
      changeBackgroundImg> 
      </button>
  
      <p class="category-label">{{ getCategoryName(category) | titlecase}}</p>  
    </div>
  </ng-container> 
</div>


