#mapID {
    height: 500px;
    width: 100%;
}

.map-container{
    margin-bottom: 75px;
}

.route {
    margin-right: 1.5em;
}

.route-info {
    display: flex;
}

.route-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    .content_container {
        width: 90%;
      }
}