.icon {
    width: 100px;
    height: 100px;
}

h2 {
    font-size: 12px;
    font-weight: bold;
}

p, a {
    font-size: 10px;
}

.notification-container {
    display: flex;
    flex-direction: row;
    margin: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #D3D3D3;
    padding: 5px;
   
}



@media only screen and (min-width: 600px) {
    .notification-container {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background-color: #ffffff;
        border: 2px solid #D3D3D3;
        padding: 5px; 
        height: 17rem;
        width: 11rem;  
        
      
    }
    .top {
        align-self: center;
    }
    h2.headline {
        font-size: .75rem;
        font-weight: bold;
    
    }
    
    .datePosted {
        font-weight: bold;
    }
    
    p {
        font-size: .5rem;
    }
  
   }
   
   @media only screen and (min-width: 1024px){
    .notification-container {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background-color: #ffffff;
        border: none;
        padding: 5px;
        height: 20rem;
        width: 15rem;
        box-shadow: rgb(53, 50, 50) 5px 5px 13px 0px;
    }

    .top {
        align-self: center;
    }
}