.icon {
    width: 100px;
    height: 100px;
}

h2 {
    font-size: 12px;
    font-weight: bold;
}

p, a {
    font-size: 10px;
}

.notification-container {
    display: flex;
    flex-direction: row;
    margin: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #D3D3D3;
    padding: 5px;
}



@media only screen and (min-width: 600px) {
    .notification-container {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background-color: #ffffff;
        border: 2px solid #D3D3D3;
        padding: 5px;  
        width: 75%;
        height: 85%;
    }
    
    .top {
        flex: 1;
        align-self: center;
    }
  
   }
   
   @media only screen and (min-width: 1024px){
    .notification-container {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background-color: #ffffff;
        border: 2px solid #D3D3D3;
        padding: 5px;
    }

    .top {
        flex: 1;
        align-self: center;
    }

   }