.icon {
    width: 100px;
    height: 100px;
}

h2 {
    font-size: 12px;
    font-weight: bold;
}

p, a {
    font-size: 10px;
}

.notification-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #D3D3D3;
    padding: 5px;
    position: relative;
}

.top-container {
    display: flex;
    flex-direction: row;
}

.bottom {
    margin: .5rem;
}
.learn-more {
    margin: 0 auto;
    padding: .5rem;
    background: #20B874;
    border-radius: .25rem;
    color: #FFF;
    text-decoration: none;
    width: fit-content;
    display: block;
    margin-left: 110px;
    margin-bottom: .5rem;
}



@media only screen and (min-width: 720px) {
    .notification-container {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background-color: #ffffff;
        border: 2px solid #D3D3D3;
        padding: 5px; 
        height: 18rem;
        width: 11rem;  
    }
    .top-container {
        display: flex;
        flex-direction: column;
    }
    
    .top {
        /* flex: 1; */
        align-self: center;
    }
    h2.headline {
        font-size: .75rem;
        font-weight: bold;
    
    }
    
    .datePosted {
        font-weight: bold;
    }
    
    p {
        font-size: .5rem;
    }
    .learn-more{
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }
  
   }
   
   @media only screen and (min-width: 1024px){
    .notification-container {
        display: flex;
        flex-direction: column;
        border-radius: 18px;
        background-color: #ffffff;
        border: none;
        padding: 5px;
        height: 20rem;
        width: 15rem;
        box-shadow: rgb(53, 50, 50) 5px 5px 13px 0px;
    }
    .icon {
        width: 125px;
        height: 125px;
    }
    .top {
        align-self: center;
    }
    p {
        font-size: .75rem;
    }

   
}