html {
    flex-direction: column;
    justify-content: space-around;
}

#footer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    padding: 0;
    margin: 0;
    background: white; 
    z-index: 2;
}

.footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    font-size: 10px;
    text-align: center;
    margin: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.footer-space {
    height: 63px;
    background-color: #ffffff;
}

.nav {
    display: flex;
    width: 50px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: baseline;
}

div {
    display: flex;
    background-color: #20B874;
    padding: 5px 15px 5px 15px;
    justify-content: space-between;
}

span, h1 {
    color: #ffffff;
}

span {
    font-weight: 900;
}

h1 {
    color: #ffffff;
    font-weight: 100;
}

.GRlogo {
    padding-top: 15px;
    height: 70px;
    width: 70px;
}
  


@media only screen and (min-width: 1024px) {
   
   
}
