
<body>
  <div class="title">
    <h1>Resources</h1>
  </div>  

    <div class="full">
      <div class="head">        
        <h2>Holiday Schedule</h2>
      </div>
      <div class="body">
      <p>All City services on New Year's Day, Memorial Day, July 4th, Labor Day, Thanksgiving, and Christmas Day will be
        delayed until the following business day</p>
      </div>
    </div>

    <div class="full">
      <div class="head">
        <h2>Kent County Department of Public Works</h2>
      </div>
      <div class="body">
        <button><a href="http://www.reimaginetrash.org/">Re-imagine Trash</a></button>
      </div>
    </div>

    <div class="full">
      <div class="head">
        <h2>Service Guidelines</h2>
      </div>
      <div class="body">
        <button><a href="https://www.grandrapidsmi.gov/Directory/Guides/Service-Guidelines?transfer=b0d59034-314b-4e37-a2d9-10ca8c2cdbcd">PAYT & Recycling</a></button>
      </div>
    </div>

    <div class="full">
      <div class="head">
        <h2>Report Trash in the Street or an Alley</h2>
      </div>
      <div class="body">
        <button><a href="https://www.grandrapidsmi.gov/Residents/Report-an-Issue/Mobile-App">Report It</a></button>
      </div>
    </div>

  </body>