button {
    background-color: transparent;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
    width: 100px;
    height: 100px;

}


/* Categories */

#glass{
  max-width: 100%;
  top: 0; 
  left: 0;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}

#paint{
  max-width: 100%;
  top: 0; 
  left: 0;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}

#medications{
  max-width: 100%;
  top: 0; 
  left: 0;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}

#electronics_appliances{
  max-width: 100%;
  top: 0; 
  left: 0;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}

#batteries{
  max-width: 100%;
  top: 0; 
  left: 0;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}

#textiles{
  max-width: 100%;
  top: 0; 
  left: 0;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}

#holiday{
  max-width: 100%;
  top: 0; 
  left: 0;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}

#automotive{
  max-width: 100%;
  top: 0; 
  left: 0;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}

#plastics{
  max-width: 100%;
  top: 0; 
  left: 0;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}
