body {
  height: 80vh;
}

.intro {
  padding: 15px;
}

h2 {
  display: flex;
  justify-content: center;
}

p {
   font-size: 14px;
}

#scroll_up {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;  
  margin-bottom: 10rem;
}

#to_top {
    background-color: #20B874;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    text-align: center;
    width: 55%;
}

#to_top:hover {
    background-color: #178553;
}


button {
    background-color: transparent;
}

/*Holds ng-container, button, and title*/
.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*The specific category image*/
.category {
    width: 100px;
    height: 100px;

}

/*Aligns the button and the category title together*/
.button_title_container{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
}

/*The title of the category that displays below the icon*/
.category_title {
  font-size: 14px;
}


/* Categories */

#glass{
  max-width: 100%;
  top: 0; 
  left: 0;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}

#paints{
  max-width: 100%;
  top: 0; 
  left: 0;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}

#medications{
  max-width: 100%;
  top: 0; 
  left: 0;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}

#electronics{
  max-width: 100%;
  top: 0; 
  left: 0;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}

#batteries{
  max-width: 100%;
  top: 0; 
  left: 0;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}

#textiles{
  max-width: 100%;
  top: 0; 
  left: 0;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}

#holiday{
  max-width: 100%;
  top: 0; 
  left: 0;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}

#automotive{
  max-width: 100%;
  top: 0; 
  left: 0;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}

#plastics{
  max-width: 100%;
  top: 0; 
  left: 0;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}

@media only screen and (min-width: 600px) {
  .category {
    width: 150px;
    height: 150px;
  }
  .category_title {
    font-size: 16px;
  }

  .content_container {
    width: 90%;
  }

  #scroll_up{
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1024px){
  .category {
    width: 150px;
    height: 150px;
  }
  .category_title {
    font-size: 18px;
  }
}