  body {
  height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.bg_img {
  width: 100%;
  top: 0; 
  left: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  transform: scaleY(1.01);
  display: none;
}

.top {
  flex: 1;
  align-self: center;
}

.notification-container {
  display: flex;
  margin: 15px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #D3D3D3;
  padding: 5px;
  flex-direction: row;
  font-size: .5rem;
}

h2 {
  font-size: 12px;
  font-weight: bold;
}

.button_container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.reportmissing {
    background-color: #F7635C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    width: 92%;
    margin: 5px 5px 80px 5px;
}

.reportmissing:hover {
  background-color: #f44336; 
}

a {
    margin: 5px;
    font-size: 12px;
}
.icon {
  width: 75px;

}
@media only screen and (min-width: 600px) {

  .find-route-component, .find-route-container {
    display: flex;
   justify-content: center;
  }
  .content_container {
    top: 400px;
    width: 90%;
  }

  .button_container{
    width: 95%;
  }
  .notification-container{
    width: 40vw;

  }
  .reportmissing {
    width: 65%;
    font-size: 12px;
    position: relative;
    top: 1rem;
  }
 
  .bg_img {
    background-image: none;
    
  }
  .enter-address {
    display: flex; 
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    width: 90%;
    margin: auto;
    margin-left: 20px;
    margin-top: 1rem;
  }
  .bottom {
    font-size: .5rem;
  }
 
}
@media only screen and (min-width: 720px){
  .notification-container{
    width: 40vw;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 1024px){

  .enter-address {
    margin-top: 5rem;
  }
  .content_container{
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .reportmissing {
    display: flex;
    justify-content: center;
    width: 65%;
    position: relative;
    top: 5rem;
    font-size: 1rem;
    box-shadow: rgb(53, 50, 50) 5px 5px 13px 0px;
  }
  .notification-container {
    width: 41vw;
    border: none;
    box-shadow: rgb(53, 50, 50) 5px 5px 13px 0px;
    border-radius: 20px;
    margin: auto;
  
  }
  h2 {
    font-size: 1rem;
  }
  .bottom {
    font-size: .75rem;
    margin-right: 2rem;
  }
  .icon {
    margin-left: 2rem;
  }
  .bg_img {
    display: block;
  }
}