  body, html {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}


.bg_img {
  width: 100%;
  top: 0; 
  left: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  display: none;
}

.top {
  flex: 1;
  align-self: center;
}

.notification-container {
  display: flex;
  margin: 15px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #D3D3D3;
  padding: 5px;
  flex-direction: row;
}

h2 {
  font-size: 12px;
  font-weight: bold;
}

.button_container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.reportmissing {
    background-color: #F7635C; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 55%;
    margin: 5px;
}


.reportmissing:hover {
  background-color: #f44336; /* Red */
}

a {
    margin: 5px;
    font-size: 12px;
}

@media only screen and (min-width: 600px) {
  .content_container {
    top: 400px;
  }

  .reportmissing {
    width: 90%;
    font-size: 12px;
  }

  .bg_img {
    background-image: none;
    
  }
}

@media only screen and (min-width: 1024px){
  .content_container{
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .reportmissing {
    display: flex;
    justify-content: center;
    margin-left: 1em;
  }

  .bg_img {
    display: block;
  }
}