<body>
    <div class="bg_img" [style.background-image]="imgPath"></div>

    <div class="content_container">
        <div class="enter-address">
            <div class="find-route-container">
                      <app-find-route class="find-route-component" (submitted)="openReminder()"></app-find-route>
            </div>
            <div class="notification-container">
                <div class="top"> 
                    <img class="icon" src="/assets/pickup_time.png">
                </div>
                <div class="bottom">
                    <h2>Welcome! </h2>
                    <p><b>Refuse: </b>Pickup is every "FRIDAY" </p>
                    <p><b>Recycling: </b>Pickup is every other "FRIDAY" </p>
                </div>
            </div>

        </div>
             
        <section> 
            <app-feed></app-feed>
        </section>
        <div class="button_container">
            <button class="reportmissing" routerLink="/reportmissing">Report Missed Pickup</button>
        </div>
    </div>   
   
</body>


