<body>
    <div class="bg_img" [style.background-image]="imgPath"></div>

    <div class="content_container">
        <div class="enter-address">
            <div class="find-route-container">
                <app-find-route class="find-route-component"></app-find-route>
            </div>
            <div class="notification-container">
                <div class="top"> 
                    <img class="icon" src="assets/pickup_time.png">
                </div>
                <div class="bottom">
                    <div *ngIf="submittedLocation; else default">
                        <h2>Welcome! </h2>
                        <p><b>Refuse Pickup:</b> {{ refusePickupDate | date: "EEEE, MMMM d"  }}</p>
                        <p><b>Recycling Pickup:</b> {{ recyclePickupDate | date: "EEEE, MMMM d" }} </p>
                    </div>
                    <ng-template #default>
                        <h2>Welcome! </h2>
                        <p>Enter a location to see your next pickup dates!</p>
                    </ng-template>

                </div>
            </div>
        </div>
        <section> 
            <app-feed></app-feed>
        </section>
        <div class="button_container">
            <button class="reportmissing" routerLink="/reportmissing">Report Missed Pickup</button>
        </div>
    </div>   
   
</body>


