<div class="find-route-container">
    <button (click)="geoLocateUser()" (click)="submitLocation()">Use Current Location</button> 
    <p>OR</p>
    <div class="form-container">
        <input 
            [(ngModel)]="userAddress" 
            [matAutocomplete]='auto'
            (keyup)="getSuggestions(userAddress)" 
            type="text" 
            placeholder="Enter Street Address">
            <mat-autocomplete #auto='matAutocomplete'>
                <mat-option *ngFor="let suggestion of suggestions" 
                    (click)='locateUser()'
                    [value]='suggestion.description'>
                        {{ suggestion.description }}
                </mat-option>
            </mat-autocomplete>
        <button (click)="locateUser()" (click)="submitLocation()">Submit</button>
    </div>
</div>



