
.find-route-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    display: flex;
    margin: 1em;
    height: 35px;
}

input {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    height: 23px;
    padding: 5px;
    width: 80vw;
    text-align: center;
    margin-left: 1em;
    max-width: 350px;
}

p {
    display: flex;
    text-align: center;
}


@media only screen and (min-width: 600px){
    .find-route-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .form-container {
        flex-direction: row;
    }

    input {
        text-align: left;
    }
}