.find-route-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

button {
    display: flex;
    margin: 1em;
    height: 35px;
    box-shadow: rgb(73, 71, 71) 2px 2px 4px 0px;

}

input {
    display: flex;
    /* border: 1px solid black; */
    border-radius: 5px;
    height: 23px;
    padding: 5px;
    width: 60vw;
    text-align: center;
    margin-left: 1em;
    max-width: 350px;
    box-shadow: rgb(73, 71, 71) 2px 2px 4px 0px;

}

p {
    display: flex;
    text-align: center;
}


@media only screen and (min-width: 600px){
    .find-route-container {
        flex-direction: row;
        justify-content: flex-end;
    }

    .form-container {
        flex-direction: row;

    }

    input {
        text-align: left;
    }
}

@media only screen and (min-width: 1024px){
    .find-route-container {
        margin-right: 4.5em;
    }
}